body{
    text-align:center;
    background-color: rgb(250, 69, 154);
}
div h1{
    font-size:5rem;
    font-family: cursive;
    color: rgb(245, 3, 3);
}
p{
    font-size:1.3rem;
    display:inline-block;
    padding:10px;
    color: rgb(116, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.h2{
    font-size:5rem;
    color:rgb(112, 5, 5);
    display:inline-block;
}
#btn{
    width:100px;
    height:40px;
    font-size:20px;
    color:white;
    background-color: palevioletred;
}